form {
  font-family: 'roboto', sans-serif;
  width: 100%;
  margin: 0 auto 50px;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  color: white !important;
  border: 5px solid white; }

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  font: inherit;
  color: white;
  -moz-transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out, visibility 0.3s ease-in-out; }

input, textarea {
  font: inherit;
  font-size: 1.2em;
  margin: 28px 0 10px;
  width: 100%;
  display: block;
  border: none;
  padding: 20px 0 10px;
  border-bottom: solid 1px white;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, aqua 4%);
  background-position: -2000px 0;
  background-size: 2000px 100%;
  background-repeat: no-repeat;
  -webkit-transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -o-transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -moz-transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  resize: none;
  overflow: hidden; }
  input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: aqua; }
  input:focus, input:valid, textarea:focus, textarea:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    border-bottom: solid 1px aqua; }
    input:focus::-moz-placeholder, input:valid::-moz-placeholder, textarea:focus::-moz-placeholder, textarea:valid::-moz-placeholder {
      font-size: 0.8em;
      -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      -o-transform: translateY(-20px);
      -moz-transform: translateY(-20px);
      transform: translateY(-20px);
      visibility: visible !important;
      opacity: 1; }

input[type="email"] {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, aqua 4%);
  background-repeat: no-repeat;
  -webkit-transition: border-bottom 0.3s ease, background 0.3s ease;
  -moz-transition: border-bottom 0.3s ease, background 0.3s ease;
  -o-transition: border-bottom 0.3s ease, background 0.3s ease;
  transition: border-bottom 0.3s ease, background 0.3s ease; }
  input[type="email"] ~ span.validation-text {
    position: absolute;
    visibility: hidden;
    font-family: 'roboto', sans-serif;
    font-size: 0.8em;
    width: 100%;
    margin-left: 25px;
    margin-top: -5px;
    color: white;
    -o-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; }
  input[type="email"]:not([value=""])::-moz-placeholder {
    font-size: 0.8em;
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
    visibility: visible !important;
    opacity: 1; }
  input[type="email"]:not([value=""]):focus::-moz-placeholder {
    color: aqua; }
  input[type="email"]:not([value=""]):focus:not(:valid)::-moz-placeholder {
    color: red; }
  input[type="email"]:focus {
    background-position: 0 0; }
    input[type="email"]:focus:not(:valid):not([value=""]) {
      border-bottom: solid 1px red;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, red 4%); }
  input[type="email"]:not(:focus):not(:valid):not([value=""]) {
    border-bottom: solid 1px red;
    background-position: 0 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, red 4%); }
    input[type="email"]:not(:focus):not(:valid):not([value=""])::-moz-placeholder {
      color: red; }
    input[type="email"]:not(:focus):not(:valid):not([value=""]) ~ span.validation-text {
      visibility: visible;
      color: red; }

.flex {
  display: flex;
  align-items: stretch; }
  .flex textarea {
    line-height: 120%;
    height: 80px; }

/*# sourceMappingURL=formMoz.css.map */