@font-face {
  font-family: 'lumos';
  src: url('../fonts/lumos.ttf') format('truetype'); }

body {
  overflow-x: hidden;
  background: #333;
  color: #fff; }

.cover {
  background-color: black;
  width: 100vw;
  position: absolute;
  z-index: 3;
  opacity: 0.6; }

.wrapper {
  position: relative;
  z-index: 2;
  background-color: transparent;
  overflow: hidden; }

.myVideo {
  -webkit-transform: translate(-10%, -20%);
  -moz-transform: translate(-10%, -20%);
  -ms-transform: translate(-10%, -20%);
  -o-transform: translate(-10%, -20%);
  transform: translate(-10%, -20%);
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
  padding: 0;
  margin: 0;
  overflow: hidden; }

.youtube {
  color: white;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  border: 3px solid white;
  text-align: center;
  padding: 5px 20px 5px 20px;
  text-decoration: none; }

.youtube:hover {
  text-decoration: none;
  background-color: white;
  color: black; }

.youtube:active {
  text-decoration: none;
  color: white; }

.fa-stack {
  color: white;
  z-index: 11;
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  font-size: 33px; }

.fa-angle-down {
  font-size: 50px; }

.fa-stack:hover {
  color: black;
  cursor: pointer; }

.fixed {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%; }

.navbar {
  margin: 0;
  border-radius: 0 !important;
  height: 70px;
  background-color: black;
  border: none;
  border-bottom: 3px solid aqua; }
  .navbar .container-fluid {
    height: 70px; }

.navbar-header {
  height: 70px; }

.navbar-collapse {
  padding: 0;
  border: none; }

.logo {
  font-family: lumos;
  font-size: 70px;
  color: aqua;
  top: -10px;
  position: absolute;
  padding-left: 50px; }

.hideme {
  opacity: 0; }

#slide2 {
  background-color: black;
  color: #333333;
  margin: -3px auto;
  overflow: hidden;
  padding: 0 0 100px; }

.team img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: left;
  max-width: 100%; }

.text {
  overflow: auto; }

#slide3 {
  background: url('../images/04.jpg') 50% 0 no-repeat fixed;
  height: 400px;
  background-size: cover; }

#slide32 {
  background: url('../images/392.jpg') 50% 0 no-repeat fixed;
  height: 400px;
  background-size: cover; }

#slide4 {
  background-color: red;
  color: #333333;
  padding: 50px; }

#slide42 {
  background-color: red;
  color: #333333;
  padding: 50px 0 50px 0; }

#slide5 {
  background: url('../images/61.jpg') 50% 0 no-repeat fixed;
  height: 400px;
  background-size: cover; }

#slide6 {
  background: url('../images/34.jpg') 50% 0 no-repeat fixed;
  height: 400px;
  padding-top: 50px;
  background-size: cover; }

#slide7 {
  background-color: black;
  padding-top: 50px; }

@media only screen and (max-width: 767px) {
  .navbar li a {
    background-color: black; }
    .navbar li a:hover {
      background-color: aqua !important; }

  .navbar ul {
    margin: 0;
    width: 30%;
    float: right; }


  .navbar-collapse {
    overflow: hidden;
    background-color: transparent; }
 }

@media only screen and (min-width: 768px) {
  .navbar ul {
    height: 100%; }

  .navbar li a {
    line-height: 70px;
    padding: 0 15px 0 15px; }

  /*
    .navbar li a:hover {
        border-top: 3px solid aqua;
        line-height: 64px !important;
        color: aqua !important;
    }
    */
  .active {
    border-top: 3px solid aqua;
    line-height: 64px !important;
    color: aqua !important; }
 }

@media only screen and (min-width: 992px) {
  .thumb img {
    height: 185px; }
 }

@media only screen and (min-width: 768px) {
  .modal-dialog {
    margin: 0 auto;
    max-width: 90%; }
 }

@media only screen and (max-width: 991px) {
  .thumb img {
    height: 24vw;
    cursor: pointer; }

  .thumb {
    clear: right; }
 }

@media only screen and (max-width: 767px) {
  .thumb img {
    height: auto;
    max-height: 350px;
    cursor: pointer; }

  #slide42 .container {
    padding: 0 15% 0 15%; }

  .modal-dialog {
    margin: 0 auto; }
 }

.modal-backdrop {
  opacity: 0.9 !important; }

.fade {
  transition: opacity 1s linear !important; }

.modal-body {
  background-color: transparent;
  padding: 0;
  padding-left: 17px;
  margin: 0 auto; }
  .modal-body img {
    margin: 0 auto;
    box-shadow: 0 0 50px 3px black;
    border: 3px solid aqua; }

body.modal-open {
  overflow: hidden;
  padding-right: 0 !important; }

.thumb {
  padding: 10px 0 10px 0; }

.thumb img {
  cursor: pointer;
  margin: 0 auto;
  border: 5px solid white;
  border-radius: 3px; }

#googleMap {
  height: 250px; }

/*# sourceMappingURL=main.css.map */