@import "variables";

@font-face {
    font-family: 'lumos';
    src: url('../fonts/lumos.ttf') format('truetype');
}

@mixin translate($x, $y) {
    -webkit-transform: translate($x,$y);
    -moz-transform: translate($x,$y);
    -ms-transform: translate($x,$y);
    -o-transform: translate($x,$y);
    transform: translate($x,$y);
}

html {
    background-color: black;
}

body {
    overflow-x: hidden;
    background: #333;
    color: #fff;
}

.cover {
    background-color: $black;
    width: 100vw;
    position: absolute;
    z-index: 3;
    opacity: 0.6;
}

.wrapper {
    position: relative;
    z-index: 2;
    background-color: transparent;
    overflow: hidden;
}

.myVideo {
    @include translate(-10%,-20%); //jak będzie filmik pobawić się żeby był na środku
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.youtube {
    color: white;
    z-index: 10;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    position: absolute;
    border: 3px solid $white;
    text-align: center;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
}

.youtube:hover {
    text-decoration: none;
    background-color: $white;
    color: $black;
}

.youtube:active {
    text-decoration: none;
    color: white;
}

.fa-stack {
    color: $white;
    z-index: 11;
    position: absolute;
    bottom: 15px;
    left: 50%;
    @include translate(-50%, 0);
    font-size: 33px;
}

.fa-angle-down {
    font-size: 50px;
}

.fa-stack:hover {
    color: $black;
    cursor: pointer;
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100%;
}

.navbar {
    margin: 0;
    border-radius: 0 !important;
    height: 70px;
    background-color: black;
    border: none;

    .container-fluid {
        height: 70px;
    }
}

.navbar-header {
    height: 70px;
}

.navbar-collapse {
    padding: 0;
    border: none;
}

.logo {
    font-family: lumos;
    font-size: 70px;
    color: aqua;
    top: -10px;
    position: absolute;
    padding-left: 50px;
}

.logo:hover {
    text-decoration: none;
    text-shadow: 0 0 10px aqua;
}

.logo:visited, .logo:focus {
    color: aqua;
    text-decoration: none;
}

.hideme {
    opacity: 0;
}

#oNas {
    background-color: black;
    color: #333333;
    margin: -3px auto;
    overflow: hidden;
    padding: 0 0 100px;
}

.team img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    max-width: 100%;
}

.text {
    overflow: auto;
}

#slide3 {
    background: url('../images/04.jpg') 50% 0 no-repeat fixed;
    height: 400px;
    background-size: cover;
}

#slide32 {
    background: url('../images/392.jpg') 50% 0 no-repeat fixed;
    height: 400px;
    background-size: cover;
}

#oferta {
    background-color: red;
    color: #333333;
    padding: 50px;
}

#galeria {
    background-color: red;
    color: #333333;
    padding: 50px 0 50px 0;
}

#partnerzy {
    background-color: red;
    padding: 50px 0 50px 0;
    color: #333333;

    .carousel-control {
        width: 8%;
    }
}

#slide5 {
    background: url('../images/61.jpg') 50% 0 no-repeat fixed;
    height: 400px;
    background-size: cover;
}

#slide6 {
    background: url('../images/34.jpg') 50% 0 no-repeat fixed;
    height: 400px;
    padding-top: 50px;
    background-size: cover;
}

#kontakt {
    background-color: black;
    padding-top: 1px;
    .text-center {
        font-size: 30px;
    }

    table {
        margin: 0 auto;
        font-size: 20px;

        td:first-child {
            padding: 0 15px 0 5px;
        }
    }

    form p {
        font-size: 20px;
    }
}

.fb-page {
    float:right;
    border:5px solid white;
}

footer {
    background-color: $black;
    position: relative;

    .menuBottom {
        width: 360px; //dobrać jak już będą fonty
        margin: 0 auto;
    }

    .text-center {
        position: absolute;
        bottom: -25px;
        left: 50%;
        @include translate(-50%,0);
        color: gray;
        font-size: 9px;
    }

    ul {
        margin: 0 auto;

        li {
            display: inline-block;
            float: none;
            padding: 10px;

            a {
                color: $white;

                &:hover {
                    text-decoration: none;
                    color: $white;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .navbar li a {
        background-color: $black;

        &:hover {
            background-color: aqua !important;
        }
    }

    .navbar ul {
        margin: 0;
        width: 30%;
        float: right;
    }

    .navbar li {
    }

    .navbar-collapse {
        overflow: hidden;
        background-color: transparent;
    }
}

@media only screen and (min-width: 768px) {

    .navbar ul {
        height: 100%;
    }

    .navbar li a {
        padding: 0 15px 0 15px;
        line-height: 65px;
        border-top: 3px solid transparent;
    }

    .navbar-inverse .navbar-nav > li > a:focus {
        color: #9d9d9d;
    }

    .navbar-inverse .navbar-nav > li > a:hover {
        color: aqua !important;
        border-top: 3px solid aqua !important;
    }

    .myActive {
        color: aqua !important;
        border-top: 3px solid aqua !important;
    }
}


@media only screen and (min-width: 992px) {
    .thumbnail2 {
        max-height: 185px;
    }
}

@media only screen and (min-width: 768px) {
    .modal-dialog {
        margin: 0 auto;
        max-width: 90%; //wielkość obrazka
    }
}


@media only screen and (max-width: 991px) {
    .thumb img {
        height: 24vw;
        cursor: pointer;
    }

    .thumb {
        clear: right;
    }
}

@media only screen and (max-width: 767px) {
    .thumb img {
        height: auto;
        max-height: 350px;
        cursor: pointer;
    }

    #slide42 .container {
        padding: 0 15% 0 15%;
    }

    .modal-dialog {
        margin: 0 auto;
    }
}

.thumb {
    margin-top: 30px;
}

.thumb img {
    cursor: pointer;
    margin: 0 auto;
    min-height: 100%;
    position: absolute;
    top: 50%;
    @include translate(0,-50%);
}

.thumb img:hover {
    opacity: 0.3;
}

#googleMap {
    height: 250px;
    z-index: 1;
}

.zoom {
    overflow: hidden;
    height: 200px;
    background-color: black;
    border: 5px solid white;
    border-radius: 3px;
    position: relative;
    z-index: 99;
}

.zoom .fa {
    color: $white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
}

.myPrev:hover {
    background: url('../images/chev7.png') no-repeat center left;
}

.myNext:hover {
    background: url('../images/chev7r.png') no-repeat center right;
}

.myClose {
    background: url('../images/cross.png') no-repeat;
    top: -12px;
    right: -24px;
}
