$red: red;
$blue: blue;
$white: white;
$black: black;
$text: #b0b0b0;

@font-face {
    font-family: 'lumos';
    src: url('/fonts/lumos-webfont.eot');
    src: url('/fonts/lumos-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/lumos-webfont.woff2') format('woff2'), url('/fonts/lumos-webfont.woff') format('woff'), url('/fonts/lumos-webfont.ttf') format('truetype'), url('/fonts/lumos-webfont.svg#lumos') format('svg');
}

@font-face {
    font-family: 'BB';
    src: url('../fonts/BebasNeue Bold.otf') format('opentype');
}

@mixin translate($x, $y) {
    -webkit-transform: translate($x,$y);
    -moz-transform: translate($x,$y);
    -ms-transform: translate($x,$y);
    -o-transform: translate($x,$y);
    transform: translate($x,$y);
}

html {
    background-color: black;
}

body {
    overflow-x: hidden;
    background: #333;
    color: #fff;
    font: 18px Lato;
    letter-spacing: 0.2px;
}

.cover {
    background-color: $black;
    width: 100vw;
    position: absolute;
    z-index: 3;
    opacity: 0.6;
}

.wrapper {
    position: relative;
    z-index: 2;
    background-color: transparent;
    overflow: hidden;
}

.myVideo {
    @include translate(-10%,-20%); //jak będzie filmik pobawić się żeby był na środku
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.youtube {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 15px;
    color: white;
    z-index: 10;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    position: absolute;
    border: 3px solid $white;
    text-align: center;
    padding: 4px 10px 4px 10px;
    text-decoration: none;
    opacity: 0.3;
}

.youtube:hover {
    text-decoration: none;
    background-color: $white;
    color: $black;
    opacity: 0.7;
}

.youtube:active {
    text-decoration: none;
    color: white;
}

#movie .fa-stack {
    opacity: 0.3;
    color: $white;
    z-index: 11;
    position: absolute;
    bottom: 15px;
    left: 50%;
    @include translate(-50%, 0);
    font-size: 33px;
    cursor: pointer;
}

#movie .fa-angle-down {
    font-size: 50px;
}

#movie .fa-stack:hover {
    opacity: 0.7;
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100%;
}

a:focus {
    outline: none;
    text-decoration: none;
    color: inherit;
}

.navbar {
    font-family: Lato;
    font-weight: 900;
    font-size: 14px;
    margin: 0;
    border-radius: 0 !important;
    height: 70px;
    background-color: $black;
    border: none;
    box-shadow: 0 0 10px 1px #333;

    .container-fluid {
        height: 70px;
    }
}

.navbar-header {
    height: 70px;
}

.navbar-collapse {
    padding: 0;
    border: none;
}

.logo {
    font-family: lumos;
    font-weight: 500;
    font-size: 70px;
    color: aqua;
    top: 3px;
    position: absolute;
    padding-left: 50px;
}

.logo:hover {
    text-decoration: none;
    text-shadow: 0 0 10px aqua;
}

.logo:visited, .logo:focus {
    color: aqua;
    text-decoration: none;
}

.hideme {
    opacity: 0;
}

h2.title {
    color: $white;
    font-family: BB;
    font-size: 60px;
    letter-spacing: 1px;
    text-align: center;
    box-shadow: 3px 3px 1px 10px inset white;
    // border-bottom: 1px dotted white;
    margin-bottom: 30px;
}

#oNas {
    background-color: black;
    color: $text;
    margin: -3px auto;
    overflow: hidden;
    padding: 0;
}

.team {
    margin-bottom: 50px;
}

.team img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    max-width: 100%;
    margin-right: 20px;
}

.text {
    overflow: auto;
}

#slide1 {
    background: url('../images/58.jpg') 50% 0 no-repeat fixed;
    height: 470px;
    background-size: cover;
}

#slide2 {
    background: url('../images/392.jpg') 50% 0 no-repeat fixed;
    height: 400px;
    background-size: cover;
}

#slide3 {
    background: url('../images/61.jpg') 50% 0 no-repeat fixed;
    height: 400px;
    background-size: cover;
}

#slide4 {
    background: url('../images/34.jpg') 50% 0 no-repeat fixed;
    height: 400px;
    background-size: cover;
}

#slide5 {
    background: url('../images/84.jpg') 50% 0 no-repeat fixed;
    height: 400px;
    background-size: cover;
}

#oferta {
    background-color: $black;
    padding: 1px 0 50px 0;
    color: $text;
    text-align: justify;
}

.goToContact {
    color: $text;
    cursor: pointer;
    text-decoration: none;
}

.goToContact:hover {
    color: $white;
    text-decoration: none;
}

.goToContact:active {
    text-decoration: none;
}

.goToContact .fa-stack {
    font-size: 23px;
}

.goToContact .fa-angle-down {
    font-size: 40px;
}

#oferta .text-center {
    font-size: 13px;
}

#galeria {
    background-color: $black;
    padding: 1px 0 50px 0;

    .title {
        margin-bottom: 0;
    }
}

#partnerzy {
    background-color: $black;
    padding: 1px 0 50px 0;

    .carousel-control {
        width: 8%;
    }
}

#kontakt {
    background-color: black;
    padding-top: 1px;
    color: #9d9d9d;

    h4 {
        font-size: 20px;
        color: $white;
    }

    i {
        color: $white;
    }

    .fa-facebook-official {
        color: #3a5795;
    }

    .name {
        font-size: 43px;
        letter-spacing: 1px;
        font-family: BB;
        margin: 0;
        color: $white;
    }

    table {
        margin: 0 auto;
        font-size: 20px;

        a {
            color: $text;
        }

        a:hover {
            color: #3a5795;
            text-decoration: none;
        }

        td:first-child {
            padding: 0 15px 0 5px;
        }
    }
}

.writeToUs {
    margin-top: 50px;
}

.sendForm {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border: 3px solid $white;
    text-align: center;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    background: none;
    color: $white;
}

.sendForm:hover {
    text-decoration: none;
    background-color: $white;
    color: $black;
}

.fb-page {
    border: 5px solid $white;
    border-radius: 5px;
}

footer {
    background-color: $black;
    position: relative;

    .menuBottom {
        position: absolute;
        font-family: Lato;
        font-size: 10px;
        left: 50%;
        @include translate(-50%,0);
    }

    .text-center {
        position: absolute;
        bottom: -50px;
        left: 50%;
        @include translate(-50%,0);
        color: gray;
        font-size: 9px;
    }

    ul {
        margin: 0 auto;
        padding: 0;

        li {
            display: inline-block;
            float: none;
            padding: 10px;

            a {
                color: $white;

                &:hover {
                    text-decoration: none;
                    color: $text;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .navbar li a {
        background-color: $black;

        &:hover {
            background-color: $black !important;
            color: aqua !important;
        }
    }

    .navbar ul {
        margin: 0;
        width: 30%;
        float: right;
    }

    .navbar li {
    }

    .navbar-collapse {
        overflow: hidden;
        background-color: transparent;
    }
}

@media only screen and (min-width: 768px) {

    .navbar ul {
        height: 100%;
    }

    .navbar li a {
        padding: 0 15px 0 15px;
        line-height: 65px;
        border-top: 4px solid transparent;
    }

    .navbar-inverse .navbar-nav > li > a:focus {
        color: #9d9d9d;
    }

    .navbar-inverse .navbar-nav > li > a:hover {
        color: aqua !important;
        border-top: 4px solid aqua !important;
    }

    .myActive {
        color: aqua !important;
        border-top: 4px solid aqua !important;
    }
}

.zoom {
    overflow: hidden;
    height: 200px;
    background-color: black;
    border: 5px solid white;
    border-radius: 3px;
    position: relative;
    z-index: 99;
}

.zoom .fa {
    color: $white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
}

.thumb {
    margin-top: 30px;
}

.thumb img {
    cursor: pointer;
    margin: 0 auto;
    min-height: 100%;
    position: absolute;
    top: 50%;
    @include translate(0,-50%);
}

.thumb img:hover {
    opacity: 0.3;
}

#googleMap {
    height: 250px;
    z-index: 1;
}

.myPrev:after {
    position: absolute;
    font-family: FontAwesome;
    font-size: 40px;
    content: "\f053";
    color: white;
    opacity: 0.3;
    top: 50%;
    @include translate(0,-50%);
}

.myNext:after {
    position: absolute;
    font-family: FontAwesome;
    font-size: 40px;
    content: "\f054";
    color: white;
    opacity: 0.3;
    left: 100%;
    top: 50%;
    @include translate(-100%,-50%);
}

.myNext:hover:after, .myPrev:hover:after {
    opacity: 0.7;
}

.myClose:after {
    font-size: 37px;
    position: absolute;
    font-family: FontAwesome;
    content: "\f00d";
    color: white;
    opacity: 0.3;
}

.myClose:hover:after {
    color: red;
    opacity: 0.6;
}
// PARTNERZY
@media only screen and (max-width:1024px) {
    img {
        max-width: 100%;
        height: auto;
    }
}
//FACEBOOK
@media only screen and (max-width: 991px) {
    .face {
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 699px) {
    .zoom {
        height: 28vw;
        overflow: hidden;
        background-color: black;
        border: 5px solid white;
        border-radius: 3px;
        position: relative;
        z-index: 99;
    }
}

@media only screen and (max-width: 767px) {
    #partnerzy img {
        padding: 10px 0 10px 0;
    }

    #movie {
        display: none;
    }
}

@media only screen and (max-width:580px) {
    .team img {
        float: none;
        position: relative;
        left: 50%;
        @include translate(-50%,0);
        margin-bottom: 20px;
    }

    .text {
        margin: 0 20px 0 20px;
        text-align: justify;
    }
}

.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #18191b;

    img {
        position: relative;
        top: 50%;
        left: 50%;
        @include translate(-50%,-50%);
    }
    /*
    p{
        position: relative;
        font-family:Lato;
        color:#723c32;
        font-size:13px;
        z-index: 9999;
        top:14%;
    }

    */
}
